<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright (c) Cybernetix Inc - 2013 -->

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- Spring -->
	<import resource="galaxy-spring.xml"/>

	<!-- Hibernate -->
	<import resource="galaxy-hibernate.xml"/>

	<!-- Spring Security -->
	<import resource="galaxy-security.xml"/>

</beans>
